<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="breakTime" value="900000"/>
    <add key="workTime" value="2700000"/>
    <add key="xMain" value=""/>
    <add key="yMain" value=""/>
    <add key="xSmall" value=""/>
    <add key="ySmall" value=""/>
    <add key="xOptions" value=""/>
    <add key="yOptions" value=""/>
    <add key="phrasesFileName" value="phrases.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
